openai
langchain
langchain_community
langchain_ollama
langgraph
langchain_openai
langchain-milvus
transformers
torch
sentencepiece
fastapi
uvicorn
pydantic
requests
gunicorn
protobuf==3.20.1
pymilvus
PyMuPDF
tiktoken
redis
openpyxl